<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "SevenSage" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased h-screen relative">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end h-[60px] mb-10"
    style="background-color: #AB0C2F">
      <li>
        <a href={~p"/"}>
          <img class="h-[30px] my-5" src={~p"/images/png/7sage-logo-transparent.png"} alt="7sage logo" />
        </a>
      </li>
      <%= if @current_student do %>
        <li class="text-[1rem] leading-6 text-stone-200">
          Hi <%= @current_student.name %>!
        </li>
        <li>
          <.link
            href={~p"/students/settings"}
            class="text-[1rem] leading-6 text-stone-200 font-semibold hover:text-stone-50"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/students/log_out"}
            method="delete"
            class="text-[1rem] leading-6 text-stone-200 font-semibold hover:text-stone-50"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/students/register"}
            class="text-[1rem] leading-6 text-stone-200 font-semibold hover:text-stone-50"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/students/log_in"}
            class="text-[1rem] leading-6 text-stone-200 font-semibold hover:text-stone-50"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <div class="flex flex-col items-center justify-center">
      <div class="w-8/12">
        <%= @inner_content %>
      </div>
    </div>
    <div id="card-info"
    class="absolute bottom-0 right-0 -translate-x-10 w-[350px]"
    style="display: none;">
      <div
      class="block max-w-sm rounded-t-lg bg-white p-6 shadow-lg dark:bg-gray-800 border-2 border-b-0 border-t-rose-700 border-r-rose-700 border-l-rose-700">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
        
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        
      </p>
      <.button phx-click={Phoenix.LiveView.JS.hide(to: "#card-info")}>CLOSE</.button>
      </div>
    </div>
  </body>
</html>
